.wordListPage {
  padding-top: 5px;

  height: 99vh;
  position: relative;
  /* align-items: center; */
  z-index: 2;
}
.searchBar {
  margin: auto;
  /* align-items: center; */
}
#searchInput {
  border: none;
  width: 93%;
  background-color: transparent;
  height: 40px;
  font-size: larger;
  color: white;
}
#searchInput:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 0 10px transparent;
}
.searchBar {
  background-color: purple;
  height: 50px;
}
.mainContentDiv {
  margin-top: -8px;
  padding: 5px;
  background-color: whitesmoke;
  z-index: 5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 91vh;
  display: flex;
  /* justify-content: flex-start;
  align-items: flex-start; */

  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.mainContentDiv::-webkit-scrollbar {
  display: none;
}
.searchContentDiv {
  margin-top: -8px;
  /* border: 2px solid red; */
  padding: 5px;
  background-color: white;
  z-index: 100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 91vh;
}
.button {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  clear: right;
}
.formDiv {
  /* padding: 2px; */
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 0;
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.addWordForm {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 1000px black;
}
.addWordForm input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
}
.newWordButton {
  float: right;
}
.addWordForm input:focus {
  outline: none;
}
.heading {
  margin-left: 2px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(231, 227, 227);
}
