@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
body {
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
